.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
button{
    width: 7rem;
    height: 2rem;
    border-color: aqua;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: red;
    color: white;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: solid aqua;
}

a:hover{
    background-color: aqua;
    color: white;
}
