.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    background-color: aqua;
    width: 20rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
}
button{
    width: 20rem;
    height: 2rem;
    border-color: aqua;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}